{% extends 'company/base.html' %}
{% block content %}

  <h1 class="h1">Homepage</h1>
  <div class="row">
    {% for post in all_posts %}
    <div class="col-sm-6">
      <div class="card">
        <img class="img-thumbnail" src="{{ post.featured_pic.url }}" alt="django">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description | safe}}</p>
          <a href="blog/{{post.id}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
